[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
statsmodels = "*"
seaborn = "*"
pyexcel-ods3 = "*"

[requires]
python_version = "3.6"
